page-resultList {

        ion-grid{
            padding: 0px;
            
        }
        ion-grid ion-row ion-col{
            padding: 0px;
            // border:#B4ABAB solid 1px; width:50%;  text-align:center; line-height:24px;padding-top:10px; 
        }
       
    
}
    