<ion-header>
  <ion-navbar>
    <ion-title>主题</ion-title>
  </ion-navbar>

</ion-header>



<ion-content style="padding:0px;margin:0px;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header style="padding:0px;font-size: 1.3rem;">
      <ion-item ><span style="font-family:Microsoft YaHei;">
        </span>利润表<span style="color:#c5c5c5">（2017中报)</span>
        <ion-icon name="more" item-right></ion-icon>
      </ion-item>

    </ion-card-header>
    <ion-card-content>
      <style>
        table tr td {
          border: 1px solid #750FFA;
         
        }
      </style>
      <table>
        <tr>
          <td>sdkfjd</td>
          <td>sdfdsf</td>
        </tr>
        <tr>
          <td>sdkfjd</td>
          <td>sdfdsf</td>
        </tr>
      </table>
      Card Contentsdfkdsjfkdsjfkdsj
      <p>sdfkdjsfkjdsf</p>
      <P>sdfsdfkjskdjf</P>
      <button>sdkfj</button>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-card-header>hello</ion-card-header>
    <ion-card-content>
      <style>
        table tr td {
          border: 1px solid #ECE9F0;
        }
      </style>
      <table>
        <tr>
          <td>sdkfjd</td>
          <td>sdfdsf</td>
        </tr>
        <tr>
          <td>sdkfjd</td>
          <td>sdfdsf</td>
        </tr>
      </table>
      Card Contentsdfkdsjfkdsjfkdsj
      <p>sdfkdjsfkjdsf</p>
      <P>sdfsdfkjskdjf</P>
      <button>sdkfj</button>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card *ngFor="let content of contentList">
     
      <ion-card-header style="padding:0px;font-size: 1.3rem;">
          <ion-item ><span style="font-family:Microsoft YaHei;">
            {{content.title}}</span>
            <ion-icon name="more" item-right></ion-icon>
          </ion-item>
    
        </ion-card-header>
      <ion-card-content [innerHTML]="sanitizer.bypassSecurityTrustHtml(content.body)"></ion-card-content>
      <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                  </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                  </button>
          </ion-col>
         
        </ion-row>  

  </ion-card>

  <!--<ion-list>
    <ion-item *ngFor="let theme of themeList">
          <ion-icon name="leaf" item-left></ion-icon>
          <ion-label><a class="waves-effect" (click)="gotoIframe(theme.name)">{{theme.name}}</a></ion-label>
          <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>-->


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>